 body {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 100px 100px 100px 100px;
  background-color: blue;
  height: 100%;

}


nav{
  grid-column-start: 10;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: span 3;
  justify-self: center;
  background-color: red;
}

header{
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: span 1;
  justify-self: center;
  background-color: red;
}

footer{
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: span 1;
  justify-self: center;
  background-color: red;
}

#filtration_menu{
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: span 1;
  justify-self: center;
  background-color: red;
  width: 100%;
}

#output_render{
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: span 1;
  justify-self: center;
  background-color: red;
}

#account_menu{
  
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: span 1;
  justify-self: center;
  background-color: red;
  width: 100%;
}