:root {
  /*Brown theme*/
  --primary-color: #000000;
  --secondary-color: #fffaf1;
  --tertiary-color: #efe0bb;
  --aux-color: #af734A;
  --aux-color2: #3B271D;



  --transition-speed: 200ms;
  --text-font-header: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --text-font:'Ubuntu', Sans-Serif;
  --header-icon1-width: 30px;
  --header-icon1-height: 30px;
  font-size: 16px;
}


/* Done by Cretu Bogdan Antonio */
body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  padding: 1rem;
}

body::-webkit-scrollbar-track{
  background: black;
}

body::-webkit-scrollbar-thumb{
  background: var(--tertiary-color);
}

.navbar{
  font-family: var(--text-font);
  position: fixed;
  background-color: var(--primary-color);
  transition: width var(--transition-speed) ease;
  
  border: 2px solid rgba(116, 108, 108, 0.02);

  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
}

.navbar-ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-item{
  width: 100%;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--secondary-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--secondary-color);
  color: var(--aux-color2);
}


.link-text{
  display:none;
  margin-left: 1rem;
}

.nav-link svg{
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--aux-color);
}



#userImage{
  width:4rem;
  height:4rem;
  margin: 0 0.5rem;
}

@media only screen and (min-width: 800px){

  .navbar{
      top:0;
      right:0;
      width:5rem;
      height:200vh;
  }

  .navbar:hover{
      width: 16rem;
  }

  .navbar:hover .link-text{
      display: block;
  }


} 

@media only screen and (max-width: 800px){

  .navbar{
      top:0;
      right:0;
      width:2rem;
      height:200vh;
  }

  .navbar:hover{
      width: 10rem;
  }

  .navbar:hover .link-text{
      display: block;
  }

  .nav-link svg{
      width: 1rem;
      min-width: 1rem;
      margin: 0 0.5rem;
      color: var(--aux-color);
  }

  #userImage{
      width:2rem;
      height:2rem;
      margin: 0;
  }

} 

@media only screen and (max-width: 1px){

  .navbar{
      bottom:0;
      width:100vw;
      height:5rem;
  }

  .navbar:hover{
      width: 100vw;
      height:80vh;
  }

  .navbar:hover .link-text{
      display: block;
  }

  #userButton{
      display: block;
  }

  #userButton:hover{
      display: block;
  }

  .navbar-ul{
      flex-direction: row;
  }

  .navbar-ul:hover{
      flex-direction: column;
  }


  .nav-link {
      justify-content: center;
  }
  
  
}


/* Done by Minut Mihai Dimitrie */
/* Footer Start */
footer{
  font-family: var(--text-font);
  position: absolute;
  margin-bottom: 0px;
  left: 0;
  bottom: -50px;
  height: 100px;
  width: 100%;
  background-color: var(--aux-color2);
  display: grid;
  grid-template-columns:  33% 33% 33%;
  grid-template-rows: 50% 50%;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.50);

}
.footer-item1{
  margin-left: -17px;
  grid-row: 1/3 ;
  grid-column: 1/1;

}
.footer-item2{
  margin-left: -20px;
  grid-row: 1/2 ;
  grid-column: 2/2;

}
.footer-item3{
  margin-left: -20px;
  grid-row: 1/3;
  grid-column: 3/3;   
}

footer p{
  font-family: var(--text-font);
 
  color: var(--secondary-color);
 
  text-align: center;
 
  font-size: 17px;
}

.footer-icon1{
  height: 30px;
  flex-grow: 4;
  padding: 2px;
  box-sizing: border-box;

}
.footer-icon2{
  height: 32px;
  flex-grow: 5;
  padding: 2px;
  box-sizing: border-box;
}
.footer-icon-flex{
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1000px){
  footer p{
    font: 0.5rem bold;
  }
  footer{
    bottom: -5px;
    margin-bottom: 0px;
    height: 50px;

  }
  .footer-icon1{
    height: 16px;
    padding: 2px;
  }
  .footer-icon2{
    height: 16px;
    padding: 2px;
  }
}
@media screen and (max-width:600px){
footer p{
  font-size: 0.15rem bold;
}
footer{
  bottom: 0px;
  margin-bottom: 0px;
  height: 55px;
  font: 0.15rem bold;

}
.footer-icon1{
  height: 14px;
  padding: 2px;
}
.footer-icon2{
  height: 14px;
  padding: 2px;
}
}
/* Footer Finish */

/* Done by Andra Ionita */
/* Main Start */

body{
  background-color: var(--aux-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 60px;
  position: relative;
}

main.main-class{
  background-color: var(--tertiary-color);
  height: 100%;
  margin: 1rem;
  margin-top: 6rem;
  margin-right: 6rem;
  
  margin-bottom: 30px;
  border: 2px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  font-family: var(--text-font);
}
.Home {
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: 70px;
  background-color: var(--tertiary-color);
  background: var(--tertiary-color);
}
.Home .imagine {
  width: 100%;
  box-shadow: 5px 15px 35px 15px rgba(0, 0, 0, 0.2);
}

.introd {
  position: relative;
  font-size: 70px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  color: var(--secondary-color);
  font-family: var(--text-font-header);
  margin-top: -12%;
  margin-bottom: 12%;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 7%;
  grid-gap:30px 100px;
  padding: 10px;
}

.scope1 {

  height: 100%;
}
.scope1 img {
  vertical-align: middle;


  display: grid;

  vertical-align: middle;
  top: 75%;
  width: 170px;

  display: grid;

}

.list img{
    margin-left:auto;
    margin-right: auto;
  
}
.scope1 h3 {
  display: grid;
  font-size: 50px;

  font-family: var(--text-font);
  font-weight: 900;
  text-align: center;
}

.scope1 p {
  display: grid;
  font-size: 30px;
  text-align: center;

  font-family: var(--text-font);
}

.scope2 {
  height: 100%;
}

.scope2 img {
  vertical-align: middle;

 
  display: grid;
 
  vertical-align: middle;
  top: 75%;
  width: 170px;

  display: grid;

}

.scope2 h3 {
  display: grid;
  font-size: 50px;
  font-family: var(--text-font);
  font-weight: 900;
  text-align: center;
}

.scope2 p {
  display: grid;
  font-size: 30px;
  text-align: center;

  font-family: var(--text-font);
}

.scope3 {

  height: 100%;
}

.scope3 img {
  vertical-align: middle;


  display: grid;

  vertical-align: middle;
  top: 75%;
  width: 135px;

  display: grid;

}

.scope3 h3 {
  display: grid;
  font-size: 50px;

  font-family: var(--text-font);
  font-weight: 900;
  text-align: center;
}

.scope3 p {
  display: grid;
  font-size: 30px;
  text-align: center;
 
  font-family: var(--text-font);
}

@media screen and (max-width: 400px) {

    body {
        background-color: var(--aux-color);
        margin: 0;
        padding: 0;
    
        min-height: 90vh;
        bottom: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    
        position: relative;
      }
    
      main.main-class {
        background-color: var(--tertiary-color);
        max-width: 80vw;
        margin-left: 1rem;
        margin-top: 5rem;
        margin-right: 0.2rem;
        border: 2px solid rgba(0, 0, 0, 0.02);
         margin-bottom: 0px;
        padding-bottom: 10%;
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
      }
      
      .Home {
        text-align: center;
        color: var(--tertiary-color);
       
        background-color: var(--tertiary-color);
        background: var(--tertiary-color);
      }

      .Home .imagine{
          height: 100px;
      }

  .introd {
    font-size: 20px;
    margin-top: -17%;
    margin-bottom:7%;
  }

  .list{
   display: grid;
   grid-template-columns: 2% 30% 30% 30% 8%;
    grid-gap:5px;
    padding: 5px;
  }
  .scope1 img {
    width: 50px;
  }

  .scope1 h3 {
    font-size: 18px;

    font-weight: 900;
  }

  .scope1 p {
    font-size: 12px;
 
  }

  .scope2 img {
    width: 51px;
  }

  .scope2 h3 {
    font-size: 18px;
   
    font-weight: 900;
  }

  .scope2 p {
    font-size: 12px;
 
  }

  .scope3 img {
    width: 40px;
  }

  .scope3 h3 {
    font-size: 18px;
   
    font-weight: 900;
  }

  .scope3 p {
    font-size: 12px;
    
  }
}


@media screen and (min-width:400px) and (max-width: 500px) {

    body {
        background-color: var(--aux-color);
        margin: 0;
        padding: 0;
    
        min-height: 90vh;
        bottom: 0;
        margin-top: 0px;
        margin-bottom: -10px;
        padding-top: 0px;
    
        position: relative;
      }
    
      main.main-class {
        background-color: var(--tertiary-color);
        max-width: 80vw;
        margin-left: 1.1rem;
        margin-top: 4.6rem;
        margin-right: 0.2rem;
        border: 2px solid rgba(0, 0, 0, 0.02);
       margin-bottom:-20px;
        padding-bottom: 10%;
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
      
      .Home {
        text-align: center;
        color: var(--tertiary-color);
       
        background-color: var(--tertiary-color);
        background: var(--tertiary-color);
      }

      .Home .imagine{
          height: 100px;
      }

  .introd {
    font-size: 20px;
    margin-top: -17%;
    margin-bottom: 14%;
  }

  .list{
    display: grid;
    grid-template-columns: 2% 30% 30% 30% 8%;
     grid-gap:5px;
     padding: 5px;
   }

 
  .scope1 img {
    width: 55px;
  }

  .scope1 h3 {
    font-size: 20px;
   
    font-weight: 900;
  }

  .scope1 p {
    font-size: 13px;
    
  }

  .scope2 img {
    width: 56px;
  }

  .scope2 h3 {
    font-size: 20px;
   
    font-weight: 900;
  }

  .scope2 p {
    font-size: 13px;
  
  }

  
  .scope3 img {
    width: 45px;
  }

  .scope3 h3 {
    font-size: 20px;
    
    font-weight: 900;
  }

  .scope3 p {
    font-size: 13px;
 
  }
}


@media screen and (min-width: 501px) and (max-width: 1023px) {

  main.main-class {
        background-color: var(--tertiary-color);
        max-width: 90vw;
        margin-left: 1.1rem;
        margin-top: 7rem;
        margin-right: 1rem;
        border: 2px solid rgba(0, 0, 0, 0.02);
       margin-bottom:-20px;
        padding-bottom: 10%;
        box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }
      
      .Home {
        text-align: center;
        color: var(--tertiary-color);
       
        background-color: var(--tertiary-color);
        background: var(--tertiary-color);
      }

      .Home .imagine{
          height: 180px;
      }

  .introd {
      position:static;
    font-size: 50px;
    margin-top: -17%;
    margin-bottom: 14%;
  }

  .list{
    display: grid;
    grid-template-columns: 3% 30% 30% 30% 7%;
     grid-gap:5px;
     padding: 5px;
   }
  .scope1 {
    margin-right: 40px;
  }
  .scope1 img {
    width: 120px;
  }

  .scope1 h3 {
    font-size: 35px;
    margin-right: 12px;
    font-weight: 900;
  }

  .scope1 p {
    font-size: 25px;
    margin-right: 5px;
  }

  .scope2 img {
    width: 123px;
  }

  .scope2 h3 {
    font-size: 35px;
    margin-right: 2px;
    font-weight: 900;
  }

  .scope2 p {
    font-size: 25px;
    margin-right: 5px;
  }

  .scope3 {
    margin-left: 40px;
  }
  .scope3 img {
    width: 96px;
  }

  .scope3 h3 {
    font-size: 35px;
    margin-right: 2px;
    font-weight: 900;
  }

  .scope3 p {
    font-size: 25px;
    margin-right: 5px;
  }
}


@media screen and (min-width: 1023px) and (max-width: 1200px) {

    body {
        background-color: var(--aux-color);
        margin: 0;
        padding: 0;
    
        min-height: 90vh;
        bottom: 0;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    
        position: relative;
      }
    main.main-class {
          background-color: var(--tertiary-color);
          max-width: 90vw;
          margin-left: 1.7rem;
          margin-top: 8rem;
          margin-right: 7rem;
          border: 2px solid rgba(0, 0, 0, 0.02);
         margin-bottom:-100px;
          padding-bottom: 10%;
          box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
          border-radius: 10px;
        }
        
        .Home {
          text-align: center;
          color: var(--tertiary-color);
         
          background-color: var(--tertiary-color);
          background: var(--tertiary-color);
        }
  
        .Home .imagine{
            height: 180px;
        }
  
    .introd {
        position:static;
      font-size: 50px;
      margin-top: -17%;
      margin-bottom: 14%;
    }
  
    .list{
      display: grid;
      grid-template-columns: 3% 30% 30% 30% 7%;
       grid-gap:5px;
       padding: 5px;
     }
    .scope1 {
      margin-right: 40px;
    }
    .scope1 img {
      width: 120px;
    }
  
    .scope1 h3 {
      font-size: 35px;
      margin-right: 12px;
      font-weight: 900;
    }
  
    .scope1 p {
      font-size: 25px;
      margin-right: 5px;
    }
  
    .scope2 img {
      width: 123px;
    }
  
    .scope2 h3 {
      font-size: 35px;
      margin-right: 2px;
      font-weight: 900;
    }
  
    .scope2 p {
      font-size: 25px;
      margin-right: 5px;
    }
  
    .scope3 {
      margin-left: 40px;
    }
    .scope3 img {
      width: 96px;
    }
  
    .scope3 h3 {
      font-size: 35px;
      margin-right: 2px;
      font-weight: 900;
    }
  
    .scope3 p {
      font-size: 25px;
      margin-right: 5px;
    }
  }

header {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  height: 65px;
  width: 100%;
  background-color: var(--aux-color2);
  display: block;

  border: 2px solid rgba(0, 0, 0, 0.02);

  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.50);
}
.header-item1 {
  height: 100%;
  display: table;
  float: left;
  cursor:pointer;
}
.header-item1 h1 {
  height: 100%;
  display: table-cell;
  cursor:pointer;
  vertical-align: middle;
}


.logo-icon {
  margin: 0;
  display: grid;
  margin-left: 15px;
  vertical-align: middle;
  top: 75%;
  cursor:pointer;
  height: 65px;
}

.header-item2 {
  margin: 0;
  height: 100%;

  display: block;

  text-align: right;
  margin-left: -90%;
}

.header-item2 h1 {
  color: var(--secondary-color);
  height: 100%;
  margin: 0;

  display: block;
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;

  font-family: var(--text-font-header);
  font-size: 40px;
  font-weight: 200;
}

.header-item2 h1 span {
  font-weight: 900;
}

@media screen and (max-width: 650px) {
  header {
    height: 35px;
    padding-bottom: 15px;
  }
  .logo-icon {
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
  }

  .header-item2 h1 {
    font-size: 25px;
    margin-left: -5px;
    margin-top:2px;
  }
}
/*Finished Section Done By Ionita Andra*/