:root{
    --primary-color:#000000;
    --secondary-color:#fcffff;
    --tertiary-color:#ffe5d8;
    --aux-color:#96cecc;
    --aux-color2:#5bb3b0;
    --text-font-footer:Arial;
    --footer-icon-width:16px;
    --footer-icon-height:16px;
    font-size: 16px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
}
.footer-item1{
    grid-row: 1/3 ;
    grid-column: 1/1;

}
.footer-item2{
    grid-row: 1/2 ;
    grid-column: 2/2;

}
.footer-item3{
    grid-row: 1/3;
    grid-column: 3/3;   
}

footer p{
    color: var(--tertiary-color);
    font: 0.9rem bold;
    font-family: Sans-Serif;
    text-align: center;
}

.footer-icon1{
    height: 30px;
    flex-grow: 4;
    padding: 2px;
    box-sizing: border-box;

}
.footer-icon2{
    height: 30px;
    flex-grow: 5;
    padding: 2px;
    box-sizing: border-box;
}
.footer-icon-flex{
    display: flex;
    justify-content: center;
}


@media screen and (max-width:600px){
  footer p{
    font: 0.3rem bold;
  }
  footer{
    height: 34px;

  }
  .footer-icon1{
    height: 14px;
    padding: 2px;
  }
  .footer-icon2{
    height: 14px;
    padding: 2px;
  }
}
