:root {
    --primary-color: #000000;
    --secondary-color: #fcffff;
    --tertiary-color: #ffe5d8;
    --aux-color: #96cecc;
    --aux-color2: #5bb3b0;
    --transition-speed: 200ms;
    --text-font-header: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    --header-icon1-width: 30px;
    --header-icon1-height: 30px;
    font-size: 16px;
}



/* Done by Cretu Bogdan Antonio */
body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    padding: 1rem;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: var(--tertiary-color);
}

.navbar{
    position: fixed;
    background-color: var(--primary-color);
    transition: width var(--transition-speed) ease;
    border-left: 1px solid var(--primary-color);
}

.navbar-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--primary-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--secondary-color);
    color: var(--aux-color2);
}


.link-text{
    display:none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--aux-color);
}



#userImage{
    width:4rem;
    height:4rem;
    margin: 0 0.5rem;
}

@media only screen and (min-width: 600px){

    .navbar{
        top:0;
        right:0;
        width:5rem;
        height:100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: block;
    }
    
}

@media only screen and (max-width: 600px){

    .navbar{
        bottom:0;
        width:100vw;
        height:5rem;
    }

    .navbar:hover{
        width: 100vw;
        height:80vh;
    }

    .navbar:hover .link-text{
        display: block;
    }

    #userButton{
        display: block;
    }

    #userButton:hover{
        display: block;
    }

    .navbar-ul{
        flex-direction: row;
    }

    .navbar-ul:hover{
        flex-direction: column;
    }


    .nav-link {
        justify-content: cneter;
    }
    
    
}
/*Finished Section Done By Cretu Bogdan Antonio*/

/* Done by Ionita Andra */
header {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: var(--aux-color2);
    display: block;
  
    border: 2px solid rgba(0, 0, 0, 0.02);

    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.20);
  }
  .header-item1 {
    height: 100%;
    display: table;
    float: left;
  }
  .header-item1 h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  .logo-icon {
    margin: 0;
    display: grid;
    margin-left: 15px;
    vertical-align: middle;
    top: 75%;
    height: 40px;
  }
  
  .header-item2 {
    margin: 0;
    height: 100%;
  
    display: block;
  
    text-align: right;
    margin-left: -90%;
  }
  
  .header-item2 h1 {
    color: var(--primary-color);
    height: 100%;
    margin: 0;
  
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
    font-family: var(--text-font-header);
    font-size: 30px;
    font-weight: 200;
  }
  
  .header-item2 h1 span {
    font-weight: 900;
  }
  
  @media screen and (max-width: 650px) {
    header {
      height: 25px;
    }
    .logo-icon {
      height: 25px;
      margin-left: 2px;
    }
  
    .header-item2 h1 {
      font-size: 18px;
    }
  }
  /*Finished Section Done By Ionita Andra*/

/* Done by Minut Mihai Dimitrie */
footer{
    position: absolute;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    height: 90px;
    width: 100%;
    background-color: var(--aux-color2);
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
  
}
.footer-item1{
    grid-row: 1/3 ;
    grid-column: 1/1;

}
.footer-item2{
    grid-row: 1/2 ;
    grid-column: 2/2;

}
.footer-item3{
    grid-row: 1/3;
    grid-column: 3/3;   
}

footer p{
    color: var(--primary-color);
    font: 0.9rem bold;
    font-family: Sans-Serif;
    text-align: center;
}

.footer-icon1{
    height: 30px;
    flex-grow: 4;
    padding: 2px;
    box-sizing: border-box;

}
.footer-icon2{
    height: 30px;
    flex-grow: 5;
    padding: 2px;
    box-sizing: border-box;
}
.footer-icon-flex{
    display: flex;
    justify-content: center;
}


@media screen and (max-width:600px){
  footer p{
    font: 0.3rem bold;
  }
  footer{
    bottom: 0;
    margin-bottom: 0;
    height: 34px;

  }
  .footer-icon1{
    height: 14px;
    padding: 2px;
  }
  .footer-icon2{
    height: 14px;
    padding: 2px;
  }
}


body{
    background-color: var(--aux-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 90px;
    position: relative;
    /* margin-bottom: 20px; */
}

main {
    background-color: var(--tertiary-color);
    height: 100%;
    margin: 1rem;
    margin-top: 75px;
    margin-right: 6rem;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
/*Finished Section Done By Minut Mihai Dimitrie*/