:root {
    --primary-color: #000000;
    --secondary-color: #fcffff;
    --tertiary-color: #ffe5d8;
    --aux-color: #96cecc;
    --aux-color2: #5bb3b0;
    --transition-speed: 200ms;
    --text-font-header: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    --header-icon1-width: 30px;
    --header-icon1-height: 30px;
    font-size: 16px;
}



/* Done by Cretu Bogdan Antonio */
body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    padding: 1rem;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: var(--tertiary-color);
}

.navbar{
    position: fixed;
    background-color: var(--tertiary-color);
    transition: width var(--transition-speed) ease;
    border-left: 1px solid var(--primary-color);
}

.navbar-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-item{
    width: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--primary-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--secondary-color);
    color: var(--aux-color2);
}


.link-text{
    display:none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color: var(--aux-color);
}



#userImage{
    width:4rem;
    height:4rem;
    margin: 0 0.5rem;
}

@media only screen and (min-width: 600px){

    .navbar{
        top:0;
        right:0;
        width:5rem;
        height:200vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: block;
    }

 
} 

@media only screen and (max-width: 600px){

    .navbar{
        top:0;
        right:0;
        width:4rem;
        height:200vh;
    }

    .navbar:hover{
        width: 10rem;
    }

    .navbar:hover .link-text{
        display: block;
    }

    .nav-link svg{
        width: 2rem;
        min-width: 2rem;
        margin: 0 1rem;
        color: var(--aux-color);
    }

    #userImage{
        width:3rem;
        height:3rem;
        margin: 0 0.5rem;
    }
 
} 

@media only screen and (max-width: 1px){

    .navbar{
        bottom:0;
        width:100vw;
        height:5rem;
    }

    .navbar:hover{
        width: 100vw;
        height:80vh;
    }

    .navbar:hover .link-text{
        display: block;
    }

    #userButton{
        display: block;
    }

    #userButton:hover{
        display: block;
    }

    .navbar-ul{
        flex-direction: row;
    }

    .navbar-ul:hover{
        flex-direction: column;
    }


    .nav-link {
        justify-content: center;
    }
    
    
}
/*Finished Section Done By Cretu Bogdan Antonio*/

/* Done by Ionita Andra */
header {
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: var(--aux-color2);
    display: block;
  
    border: 2px solid rgba(0, 0, 0, 0.02);

    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.20);
  }
  .header-item1 {
    height: 100%;
    display: table;
    float: left;
  }
  .header-item1 h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  .logo-icon {
    margin: 0;
    display: grid;
    margin-left: 15px;
    vertical-align: middle;
    top: 75%;
    height: 40px;
  }
  
  .header-item2 {
    margin: 0;
    height: 100%;
  
    display: block;
  
    text-align: right;
    margin-left: -90%;
  }
  
  .header-item2 h1 {
    color: var(--primary-color);
    height: 100%;
    margin: 0;
  
    display: block;
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
    font-family: var(--text-font-header);
    font-size: 30px;
    font-weight: 200;
  }
  
  .header-item2 h1 span {
    font-weight: 900;
  }
  
  @media screen and (max-width: 650px) {
    header {
      height: 25px;
    }
    .logo-icon {
      height: 25px;
      margin-left: 2px;
    }
  
    .header-item2 h1 {
      font-size: 18px;
    }
  }
  /*Finished Section Done By Ionita Andra*/

/* Done by Minut Mihai Dimitrie */
/* Footer Start */
footer{
    position: absolute;
    margin-bottom: 0;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: var(--aux-color2);
    display: grid;
    grid-template-columns:  33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-content: space-around;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.15);
  
}
.footer-item1{
    grid-row: 1/3 ;
    grid-column: 1/1;

}
.footer-item2{
    grid-row: 1/2 ;
    grid-column: 2/2;

}
.footer-item3{
    grid-row: 1/3;
    grid-column: 3/3;   
}

footer p{
    color: var(--primary-color);
    font: 0.9rem bold;
    font-family: Sans-Serif;
    text-align: center;
}

.footer-icon1{
    height: 30px;
    flex-grow: 4;
    padding: 2px;
    box-sizing: border-box;

}
.footer-icon2{
    height: 30px;
    flex-grow: 5;
    padding: 2px;
    box-sizing: border-box;
}
.footer-icon-flex{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px){
    footer p{
      font: 0.5rem bold;
    }
    footer{
      bottom: 0;
      margin-bottom: 0;
      height: 50px;
  
    }
    .footer-icon1{
      height: 16px;
      padding: 2px;
    }
    .footer-icon2{
      height: 16px;
      padding: 2px;
    }
}
@media screen and (max-width:600px){
  footer p{
    font: 0.3rem bold;
  }
  footer{
    bottom: 0;
    margin-bottom: 0;
    height: 34px;

  }
  .footer-icon1{
    height: 14px;
    padding: 2px;
  }
  .footer-icon2{
    height: 14px;
    padding: 2px;
  }
}
/* Footer Finish */
/* Main Start */

body{
    background-color: var(--aux-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 90px;
    position: relative;
    /* margin-bottom: 20px; */
}

main.main-class{
    background-color: var(--tertiary-color);
    height: 100%;
    margin: 1rem;
    margin-top: 75px;
    margin-right: 6rem;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.contact-logo-image{
    width: 10rem;
    height: 10rem;
}
.contact-page-title-text{
    font-size: 3rem;
    font-weight: bold;
}
.contact-title{
    background-color: var(--aux-color2);
    margin: 1rem;
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-title-item{
    background-color: var(--aux-color);
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 30px;
}
.contact-item-title{
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    background-color: var(--aux-color);
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
}
.contact-content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.contact-item-content-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--aux-color);
    text-align: center;
    background-color: var(--aux-color);
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
    align-items: center;
}
.contact-item-content-title{
    font-size: 1.2 rem;
}

.contact-item-content-piece{
    background-color: var(--tertiary-color);
    border: 2px solid var(--aux-color2);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
    width: auto;
}
.contact-item-content-piece-title{
    background-color: var(--tertiary-color);
    border: 2px solid var(--aux-color2);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-right: 6px;
    padding-left: 6px;
}
.content-input{
    background-color: var(--secondary-color);
    font-weight: bold;
    width: 75%;
    border:2px solid var(--aux-color2);
    border-radius: 10px; 
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    font-size: 0.8rem;
}
.message-input{
    font-weight: bold;
    background-color: var(--secondary-color);
    border:2px solid var(--aux-color2);
    border-radius: 10px; 
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 0.8rem;
}
.contact-item{
    background-color: var(--aux-color2);
    margin: 1rem;
    box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.location-image{
    margin: 1rem;
    width: 80%;
    border: 3px solid var(--primary-color);
    border-radius: 30px;
    height: 400px;
    width: 700px;
    align-self: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.send-button{
    height:40px;
    background-color: var(--tertiary-color);
    border: 2px solid var(--aux-color2);
    border-radius: 13px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.send-button:hover{
    background-color: var(--secondary-color);
    border-color: var(--tertiary-color);
}
@media screen and (max-width:900px){
    .send-button{
        height:30px;
        background-color: var(--tertiary-color);
        border: 1.3px solid var(--aux-color2);
        border-radius: 10px;
        font-size: 1rem;
    }
    .location-image{
        height: 280px;
        width: 520px;
        border-width: 1.3px;
    }
    .contact-item{
        padding:1rem;
        margin: 0.6rem;
    }
    .message-input{
        border-width: 1.3px;
        font-size: 0.6rem;
    }
    .content-input{
        border-width: 1.3px;
        font-size: 0.6rem;
    }
    .contact-item-title{
        font-size: 1.2rem;
        background-color: var(--aux-color);
        box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
        margin: 0.8rem;
        padding: 0.8rem;
    }
    .contact-item-content-piece-title{
        border-width: 1.3px;
        font-size: 0.8rem;
        margin-top: 0.8px;
        margin-bottom: 0.8px;
        padding-right: 3px;
        padding-left: 3px;
    }
    .contact-item-content-piece{
        border-width: 1.3px;
        font-size: 0.8rem;
    }
    .contact-item-content-title{
        font-size: 1rem;
    }
    .contact-item-content-container{
        padding:0.5rem;
    }
    .contact-logo-image{
        width: 8rem;
        height: 8rem;
    }
    .contact-title{
        background-color: var(--aux-color2);
        margin: 0.8rem;
        box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
        padding: 1.4rem;
    }
    .contact-title-item{
        margin: 0.6rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        border-radius: 30px;
    }
    .contact-page-title-text{
        font-size: 2rem;
    }
}
@media screen and (max-width:730px){
    .location-image{
        height: 210px;
        width: 390px;
        border-width: 1.3px;
    }
}
@media screen and (max-width:600px){
    
    .main.main-class{
        margin: .5rem;
        margin-top: 55px;
        margin-right: 2rem; 
        margin-bottom: 20px;
    }
    .send-button{
        height:18px;
        background-color: var(--tertiary-color);
        border: 1px solid var(--aux-color2);
        border-radius: 10px;
        font-size: 0.6rem;
    }
    .location-image{
        height: 130px;
        width: 260px;
        border-width: 1px;
        margin: 0;
    }
    .contact-item{
        padding:0.3rem;
        margin: 0.2rem;
    }
    .message-input{
        border-width: 1px;
        font-size: 0.5rem;
    }
    .content-input{
        border-width: 1px;
        font-size: 0.5rem;
    }
    .contact-item-title{
        font-size: 0.6rem;
        background-color: var(--aux-color);
        box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
        margin: 0.2rem;
        padding: 0.2rem;
    }
    .contact-item-content-piece-title{
        border-width: 1px;
        font-size: 0.5rem;
        margin-top: 5px;
        margin-bottom: 0.3px;
        padding-right: 2px;
        padding-left: 2px;
    }
    .contact-item-content-piece{
        border-width: 1px;
        font-size: 0.5rem;
    }
    .contact-item-content-title{
        font-size: 0.6rem;
    }
    .contact-item-content-container{
        padding:0.4rem;
        margin: 0.3rem;
    }
    .contact-logo-image{
        width: 4rem;
        height: 4rem;
    }
    .contact-title{
        background-color: var(--aux-color2);
        margin: 0.3rem;
        box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.2);
        padding: 0.5rem;
    }
    .contact-title-item{
        margin: 0.3rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        border-radius: 15px;
    }
    .contact-page-title-text{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:400px){
    .location-image{
        height: 90px;
        width: 190px;
        border-width: 1px;
    }
}
/* Main Finish */
/*Finished Section Done By Minut Mihai Dimitrie*/